<script src="{{ "assets/main.js" | relative_url }}"></script>
<footer class="main-footer">
  <h1 class="logo">Ba<span>r</span>ão</h1>
  <ul class="social-media">
    <a href="https://twitter.com/baraodev" class="action" target="_blank"><li class="item -twitter -white">Twitter</li></a>
    <a href="https://linkedin.com/marcoabn" class="action" target="_blank"><li class="item -linkedin -white">LinkedIn</li></a>
    <a href="https://github.com/marcobarao" class="action" target="_blank"><li class="item -github -white">GitHub</li></a>
  </ul>
  <p class="copyright">Copyright © 2018</p>
</footer>