<header class="main-header">
  <div class="container">
    <a href="#home" class="logo">Ba<span>r</span>ão</a>
    <button class="main-hamburger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <p class="text">Menu</p>
    </button>
    <nav class="main-nav">
      <a href="#home" class="item">Home</a>
      <a href="#about" class="item">About</a>
      <a href="#works" class="item">Works</a>
      <a href="#contact" class="item">Contact</a>
      <ul class="social-media">
        <a href="https://twitter.com/baraodev" class="action" target="_blank"><li class="item -twitter -white">Twitter</li></a>
        <a href="https://linkedin.com/marcoabn" class="action" target="_blank"><li class="item -linkedin -white">LinkedIn</li></a>
        <a href="https://github.com/marcobarao" class="action" target="_blank"><li class="item -github -white">GitHub</li></a>
      </ul>
    </nav>
  </div>
</header>