<section class="wrap-about" id="about">
    <div class="about-background">
        <div class="about-cover"></div>
    </div>
    <article class="about-text">
        <h2 class="about-title">About Me</h1>
        <h5 class="about-subtitle">Back-end & Front-end Developer.</h2>
        <p class="about-paragraph">
        Hey there! My name is  <b>Marco</b>. I'm a Fullstack Developer, Web Designer and  Freelancer  based in São Paulo, Brazil. I have acquired the skills and knowledge necessary to make your project a success. I build exceptional websites and applications across platforms that provide intuitive user interface while also being scalable and efficient behind scenes, Besides that I write code that conforms to industry standards and semantic best practices.
        <br>Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me.
        </p>
        <article class="container-skills">
            <figure class="skill-figure">
                <h6 class="name">Back-end</h6>
                <div class="progress">
                    <div class="bar" style="width: 90%;">
                    <span class="percent">90%</span>
                    </div>
                </div>
            </figure>
            <figure class="skill-figure">
                <h6 class="name">Front-end</h6>
                <div class="progress">
                <div class="bar" style="width: 65%;">
                    <span class="percent">70%</span>
                </div>
                </div>
            </figure>
        </article>
        <ul class="contact-about">
            <li class="item">
                <p class="info"><b>Email:</b> <a href="mailto:marco.barao@outlook.com" class="action" target="_blank">marco.barao@outlook.com</a></p>
            </li>
            <li class="item">
                <p class="info"><b>Skype:</b> <a href="https://join.skype.com/invite/NvNlyWCHx9Ru" class="action" target="_blank">live:aa5e16a1688adf12</a></p>
            </li>
        </ul>
        <ul class="social-media">
            <a href="https://twitter.com/baraodev" class="action" target="_blank">
                <li class="item -twitter">
                Twitter
                </li>
            </a>
            <a href="https://linkedin.com/in/marcoabn" class="action" target="_blank">
                <li class="item -linkedin">
                LinkedIn
                </li>
            </a>
            <a href="https://github.com/marcobarao" class="action" target="_blank">
                <li class="item -github">
                GitHub
                </li>
            </a>
        </ul>
        <div class="wrap-resume">
            <a href="resume" class="cool-button" target="_blank">
                View my resume →
            </a>
        </div>
    </article>
</section>