---
layout: header-background
---
<link rel="stylesheet" href="{{ "/assets/project.css" | relative_url }}">
<link rel="stylesheet" href="../assets/blueimp.min.css">
<section class="wrap-project">
    <div class="container">
        <div class="title-container">
            <h1 class="project-title">{{ page.title }}</h1>
            <div>
                {%- if page.site -%}
                <a href="{{ page.site }}" class="cool-button" target="_blank">
                    View site
                </a>
                {%- endif -%}
                {%- if page.github -%}
                <ul class="social-media">
                    <a href="{{ page.github }}" class="action" target="_blank">
                        <li class="item -github">GitHub</li>
                        Repository
                    </a>
                </ul>
                {%- endif -%}
            </div>
        </div>
        <div class="container-info">
            <div class="info-project">
                <h3 class='title'>
                    Client
                </h3>
                <p class="info">
                    {{ page.client }}
                </p>
            </div>
            <div class="info-project">
                <h3 class='title'>
                    Domain
                </h3>
                <p class="info">
                    {{ page.domain }}
                </p>
            </div>
            <div class="info-project">
                <h3 class='title'>
                    Year
                </h3>
                <p class="info">
                    {{ page.year }}
                </p>
            </div>
            <div class="info-project">
                <h3 class='title'>
                    Tags
                </h3>
                <div class="tags">
                    {%- for tag in page.tags -%}
                    <p class="tag">
                        {{ tag }}
                    </p>
                    {%- endfor -%}
                </div>
            </div>
        </div>
        <div class="project-brief">
            {{ content }}
        </div>
        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <ol class="indicator"></ol>
        </div>
        <div class="projects-container" id="links">
            {%- for img in page.imgs -%}
            <a href="{{ img | prepend:'../assets/img/' }}" class="project-figure">
                <img class="image" src="{{ img | prepend: '/assets/img/' | relative_url }}">
            </a>
            {%- endfor -%}
        </div>
    </div>
    <div class="container-arrows">
        {%- if page.previous.url -%}
        <a href="{{page.previous.url}}" class="link-left">&laquo;<span class="text-arrow -left">{{page.previous.title}}</span></a>
        {%- else -%}
        <a href="{{site.url | append: '#works' }}" class="link-left">&laquo;<span class="text-arrow -left">Works</span></a>
        {%- endif -%}
        {%- if page.next.url -%}
        <a href="{{page.next.url}}" class="link-right"><span class="text-arrow -right">{{ page.next.title }}</span>&raquo;</a>
        {%- endif -%}
    </div>
</section>